.header-common {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	position: relative;
	align-items: center;
	.el-menu {
		width: inherit;
		padding: 0 25px;
		height: 80px;
		align-items: center;
		justify-content: right;
		.el-menu-item {
			height: 80px;
			font-size: 16px;
			padding: 0 20px;
			&:last-child {
				padding-right: 0;
			}
		}
		.el-sub-menu__title {
			font-size: 16px;
		}
	}
	.logo {
		width: 200px;
		height: auto;
		position: absolute;
		top: 17px;
		left: 15px;
		z-index: 10;
		cursor: pointer;
	}
}